@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  height: 100%;
  overflow-y: auto;
}

.table {
  overflow-x: auto;

  &FullWidth {
    width: 100%;
    min-width: 1170px;
  }
}

.headRow {
  padding: 0 24px;
}

.tableHead {
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontSecondary;
  text-align: left;
  padding: 24px 0 12px 0;
  align-self: end;
}

.tableRow {
  padding: 0 24px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: calc(100% - 48px);
    height: 1px;
    background-color: colors.$strokeMain;
    top: 0;
    left: 24px;
  }
}

.tableRowWrapper {
  min-width: max-content;
  &:nth-child(odd) {
    background: colors.$bgTable;
  }
}

.tableCell {
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontPrimary;
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.taskTypeWrapper {
  position: relative;
  z-index: 1;
  background-color: colors.$purplePrimary;
  border-radius: 64px;
  color: colors.$white;
}
