@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  margin-bottom: 24px;
  height: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headRow {
  padding: 0 24px;
}

.tableHead {
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontSecondary;
  text-align: left;
  padding: 24px 24px 12px;
  white-space: nowrap;

  &:last-child {
    margin-left: auto;
  }
}

.tableRow {
  padding: 0 24px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: calc(100% - 48px);
    height: 1px;
    background-color: colors.$strokeMain;
    top: 0;
    left: 24px;
  }
}

.tableRowWrapper {
  border-top: 1px solid colors.$strokeMain;

  min-width: max-content;
  &:nth-child(odd) {
    background: colors.$bgTable;
  }
}

.tableCell {
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontPrimary;
  padding: 24px 24px 12px;
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;

  &:last-child {
    margin-left: auto;
    width: 100%;
    text-align: right;
  }
}

.taskTypeWrapper {
  position: relative;
  z-index: 1;
  background-color: colors.$purplePrimary;
  border-radius: 64px;
  color: colors.$white;
}
