@use '/lib/styles/variables/colors.module' as colors;

.markdown {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: colors.$black;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 32px;
  }

  p {
    margin-top: 16px;
  }

  img {
    margin-top: 16px;
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  ul,
  ol {
    margin-top: 16px;
    list-style-position: inside;
  }

  svg {
    margin-top: 16px;
  }

  pre {
    margin-top: 16px !important;
    border-radius: 8px;
  }

  p > code {
    background-color: colors.$lightPrimary;
    padding: 2px 6px;
    border-radius: 8px;
    margin: 0 2px;
    font-style: italic;
  }
}
