@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.markdown {
  font-weight: fonts.$weightRegular;
  font-size: 16px;
  line-height: 28px;
  color: colors.$fontPrimary;

  img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  svg {
    margin-top: 16px;
  }

  p > code {
    background-color: colors.$purpleSecondary;
    padding: 2px 6px;
    border-radius: 8px;
    margin: 0 2px;
    font-style: italic;
  }

  hr {
    height: 1px;
  }
}
