@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.title {
  max-width: 472px;
  font-weight: fonts.$weightMedium;
  font-size: 24px;
  line-height: 48px;
  color: colors.$fontPrimary;

  strong {
    font-size: 32px;
    line-height: 48px;
    font-weight: fonts.$weightBold;
  }
}

.description {
  font-weight: fonts.$weightRegular;
  font-size: 16px;
  line-height: 32px;
  margin-top: 16px;
  color: colors.$fontSecondary;
}
