@use '/lib/styles/variables/colors.module' as colors;

.wrapper {
}

.title {
  max-width: 380px;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: colors.$fontPrimary;

  strong {
    font-weight: 700;
  }
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-top: 16px;
  color: colors.$fontSecondary;
}
