@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/animations.module' as animations;

.wrapper {
  position: absolute;
  width: calc(100% - 48px);
  max-width: 869px;
  margin: 24px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: media.$laptopS) {
    position: static;
  }

  @media (max-width: media.$tabletS) {
    flex-direction: column;
    padding: 0;
    margin: 12px;
    width: calc(100% - 24px);
  }
}

.codeActionWrapper {
  margin-top: 16px;
  background-color: colors.$white;
  border-radius: 16px;
  display: flex;
  padding: 0 32px 0 16px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 8px 32px rgba(7, 1, 48, 0.12);
}

.codeActionBlock {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 16px;

  @media (max-width: media.$tabletS) {
    flex-direction: column;
    align-items: center;
    margin: 12px 16px;

    &:last-child {
      margin-top: 0;
    }
  }

  @media (max-width: media.$tabletS) {
    margin: 12px 0;
    width: 100%;
    padding: 0 12px;
  }
}

.codeText {
  width: 104px;
  color: colors.$fontPrimary;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: media.$tabletS) {
    width: unset;
  }
}
