@use '/lib/styles/variables/colors.module' as colors;

.codeActionWrapper {
  background-color: colors.$purpleSecondary;
  border-radius: 16px;
  display: flex;
  padding: 0 12px 12px 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 24px;
}

.codeActionBlock {
  margin: 12px 12px 0;
  display: flex;
  align-items: center;
}

.codeText {
  width: 104px;
  color: colors.$purplePrimary;
}

.codeGitCommands {
  flex-basis: 230px;
  margin-left: 16px;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: colors.$fontPrimary;
}
