@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/animations.module' as animations;

.wrapper {
  position: absolute;
  width: calc(100% - 48px);
  max-width: 869px;
  margin: 24px;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  @media (max-width: media.$laptopS) {
    position: static;
  }

  @media (max-width: media.$tabletS) {
    flex-direction: column;
    padding: 0;
    margin: 12px;
    width: calc(100% - 24px);
  }
}

.codeActionWrapper {
  margin-top: 16px;
  background-color: colors.$white;
  border-radius: 16px;
  display: flex;
  padding: 8px 16px 8px 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 8px 32px rgba(7, 1, 48, 0.12);
}

.codeActionBlock {
  width: 50%;
  max-width: 380px;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 12px 0 12px 16px;
}

.codeText {
  color: colors.$purplePrimary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;

  @media (max-width: media.$tabletS) {
    width: unset;
  }
}
