@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.taskModule {
  width: fit-content;
  font-weight: fonts.$weightBold;
  font-size: 12px;
  line-height: 16px;
  margin: 16px 24px 0;
  display: flex;
  flex-wrap: wrap;

  &Number {
    color: colors.$purplePrimary;
    position: relative;
    margin: 8px 20px 0 0;

    &::after {
      content: '';
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
      border-radius: 64px;
      background-color: colors.$purplePrimary;
    }
  }

  &Name {
    margin-top: 8px;
    color: colors.$fontPrimary;
  }
}
