@use '/lib/styles/variables/colors.module' as colors;

.button {
  padding: 8px 16px;
  width: 100%;
  max-width: 256px;
  background: colors.$primary;
  color: colors.$white;
  border: none;
  border-radius: 64px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 24px;
  cursor: pointer;
}
