@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/animations.module' as animations;
@use '/lib/styles/variables/fonts.module' as fonts;

.button {
  padding: 12px 32px;
  width: 100%;
  max-width: 256px;
  background: colors.$purplePrimary;
  color: colors.$white;
  border: 1px solid colors.$purplePrimary;
  border-radius: 64px;
  font-weight: fonts.$weightBold;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: background-color animations.$hoverTransitionTime
      animations.$hoverEaseFunction,
    color animations.$hoverTransitionTime animations.$hoverEaseFunction;

  &:hover {
    background-color: colors.$purplePrimaryHover;
  }

  &Secondary {
    background-color: colors.$white;
    border-color: colors.$purplePrimary;
    color: colors.$purplePrimary;

    &:hover {
      background-color: colors.$white;
      border-color: colors.$purplePrimaryHover;
      color: colors.$purplePrimaryHover;
    }
  }

  &Disabled {
    cursor: not-allowed;
    &:hover {
      background-color: colors.$purplePrimary;
    }
  }
}
