@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/shadows.module' as shadows;

.mobileBurgerMenuButton {
  display: none;
  margin-right: 12px;
  background: none;
  border: none;
  color: colors.$purplePrimary;
  cursor: pointer;
  border-radius: 64px;
  width: 40px;
  height: 40px;
  background: colors.$white;
  box-shadow: shadows.$shadow;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
    fill: colors.$purplePrimary;
    path {
      fill: colors.$purplePrimary;
    }
  }

  @media (max-width: media.$laptopS) {
    display: flex;
  }
}

.headerWrapper {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid colors.$bgMain;
}

.textWrapper {
  margin-right: auto;
}

.titleWrapper {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
}

.actionsNumber {
  font-weight: 800;
  font-size: 15px;
  line-height: 24px;
  margin-left: 16px;
  background-color: colors.$purpleSecondary;
  border-radius: 64px;
  padding: 4px 8px;
}

.description {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
}

.userWrapper {
  display: flex;
  align-items: center;
}

.userAvatar {
  border-radius: 50px;
}

.userName {
  margin-left: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: media.$tabletS) {
    display: none;
  }
}

.settingsIcon {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
