.headerWrapper {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #e5e5e5;
}

.title {
  margin-right: auto;
}

.bell {
}

.userWrapper {
  display: flex;
  align-items: center;
}

.userAvatar {
}

.userName {
}
