@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  border-radius: 64px;
  width: 32px;
  height: 32px;
  border: 1px solid colors.$fontPrimary;
  color: colors.$fontPrimary;
  background-color: colors.$fontSecondary;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  svg {
    fill: colors.$fontSecondary;
  }

  &Empty {
    border: 1px solid colors.$strokeLines;
    background-color: colors.$bgMain;
  }

  &Blue {
    background-color: colors.$statusBgBlue;
    border-color: colors.$statusFontBlue;

    svg {
      fill: colors.$statusFontBlue;
    }
  }

  &Red {
    background-color: colors.$statusBgRed;
    border-color: colors.$statusFontRed;

    svg {
      fill: colors.$statusFontRed;
    }
  }

  &Orange {
    background-color: colors.$statusBgOrange;
    border-color: colors.$statusFontOrange;

    svg {
      fill: colors.$statusFontOrange;
    }
  }

  &Green {
    background-color: colors.$statusBgGreen;
    border-color: colors.$statusFontGreen;

    svg {
      fill: colors.$statusFontGreen;
    }
  }
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  font-weight: fonts.$weightBold;

  &Red {
    color: colors.$statusFontRed;
  }

  &Orange {
    color: colors.$statusFontOrange;
  }

  &Green {
    color: colors.$statusFontGreen;
  }
}

.attempt {
  position: absolute;
  left: 20px;
  top: 16px;
  width: 28px;
  height: 28px;
  background-color: colors.$bgMain;
  border: 1px solid colors.$white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: fonts.$weightBold;
  font-size: 10px;
  line-height: 12px;
  border-radius: 100px;
}
