@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/fonts.module' as fonts;
@use '/lib/styles/variables/shadows.module' as shadows;

.wrapper {
  border-radius: 64px;
  width: 32px;
  height: 32px;
  border: 1px solid colors.$fontPrimary;
  color: colors.$fontPrimary;
  background-color: colors.$fontSecondary;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: colors.$fontSecondary;
  }

  &Empty {
    border: none;
    background-color: colors.$strokeLines;
  }

  &Blue {
    background-color: colors.$statusBgBlue;
    border-color: colors.$statusFontBlue;

    svg {
      fill: colors.$statusFontBlue;
    }
  }

  &Red {
    background-color: colors.$statusBgRed;
    border-color: colors.$statusFontRed;

    svg {
      fill: colors.$statusFontRed;
    }
  }

  &Orange {
    background-color: colors.$statusBgOrange;
    border-color: colors.$statusFontOrange;

    svg {
      fill: colors.$statusFontOrange;
    }
  }

  &Green {
    background-color: colors.$statusBgGreen;
    border-color: colors.$statusFontGreen;

    svg {
      fill: colors.$statusFontGreen;
    }
  }
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
}
