.wrapper {
  display: flex;
  flex-direction: column;
}

.uploadImageArea {
  border: 1.5px dashed #cacaca;
  box-sizing: border-box;
  border-radius: 16px;
  width: 160px;
  height: 160px;
  margin: 24px;
}

.submitWrapper {
  padding: 16px 24px;
  border-top: 1px solid #e5e5e5;
}

.submitButton {
  display: block;
  margin-left: auto;
  background-color: #918e8e;
  border-radius: 64px;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px;
  width: 208px;
  cursor: pointer;
}
