@use '/lib/styles/variables/colors.module' as colors;

.wrapper {
  display: flex;
  padding: 20px 16px;
  border-radius: 8px;
  background-color: colors.$bgMain;
  color: colors.$fontSecondary;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.content {
  align-self: center;
}
