.sideBarWrapper {
  width: 256px;
  background: #f3f3f3;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  width: 100%;
  height: 64px;
  background-color: #dadada;
  border-radius: 16px;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  opacity: 0;
}

.navWrapper {
  margin-top: 48px;
}

.navList {
  list-style-type: none;
}

.navItem {
  margin: 8px 0;
}

.navLink {
  width: 100%;
  height: 100%;
  padding: 16px;
  display: flex;
  align-items: center;
  border-radius: 16px;

  &Active {
    background-color: white;
  }
}

.linkIcon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #dadada;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: black;
  }
}

.linkText {
  margin-left: 16px;
}
