@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/fonts.module' as fonts;
@use '/lib/styles/variables/shadows.module' as shadows;

.sideBarWrapper {
  width: 256px;
  background-color: colors.$bgMain;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid colors.$bgMain;

  @media (max-width: media.$laptopS) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;

    &Open {
      transform: translateX(0);
    }
  }
}

.logoLinkWrapper {
  height: 56px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.logoLink {
  width: fit-content;
}

.cohortName {
  padding: 16px;
  text-align: center;
  border: 1px solid colors.$purplePrimary;
  border-radius: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: colors.$fontPrimary;

  @media (max-width: media.$laptopS) {
    order: 1000;
    margin-top: auto;
  }
}

.navWrapper {
  margin-top: 64px;
}

.navList {
  list-style-type: none;
}

.navItem {
  margin: 8px 0;
}

.navLink {
  width: 100%;
  height: 100%;
  padding: 12px 21px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-weight: fonts.$weightRegular;
  font-size: 16px;
  line-height: 24px;
  color: colors.$fontSecondary;

  svg > path {
    fill: colors.$fontSecondary;
  }

  &Active {
    svg > path {
      fill: colors.$purplePrimary;
    }
  }

  &Active {
    background-color: colors.$white;
    color: colors.$purplePrimary;
    box-shadow: 0 2px 24px rgba(88, 92, 221, 0.04);
    font-weight: fonts.$weightBold;
  }

  &:hover {
    background-color: colors.$bgTable;
  }
}

.linkIcon {
  display: flex;
  align-items: center;
}

.linkText {
  margin-left: 16px;
}

.closeButtonWrapper {
  display: none;
  height: 56px;
  align-items: center;
  margin-right: 24px;
  @media (max-width: media.$laptopS) {
    display: flex;
  }
}

.logoCloseWrapper {
  @media (max-width: media.$laptopS) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.mobileNavClose {
  border: none;
  background: none;
  color: colors.$purplePrimary;
  cursor: pointer;
  border-radius: 64px;
  width: 40px;
  height: 40px;
  background: colors.$white;
  box-shadow: 4px 8px 32px rgba(7, 1, 48, 0.04);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 16px;
    height: 16px;
    fill: colors.$purplePrimary;
    path {
      fill: colors.$purplePrimary;
    }
  }
}
