.sideBarWrapper {
  width: 256px;
  background: #f3f3f3;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
}

.contactButton {
}

.navWrapper {
}

.navWrapper {
}

.navList {
}

.navItem {
}

.navLink {
}
