.tasksList {
  list-style-type: none;
  overflow-y: auto;
  max-height: 100%;
  padding: 0 24px 24px;
  margin-top: 24px;
}

.taskLink {
  display: block;
  margin-top: 24px;

  &:first-of-type {
    margin-top: 0;
  }
}

.task {
  padding: 16px;
  background-color: #eaeaea;
  border-radius: 16px;

  &Active {
    border: 2px solid black;
  }
}

.taskName {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.taskBadges {
  display: flex;
  flex-wrap: wrap;
}

.taskBadge {
  margin-top: 16px;
  margin-right: 8px;
  display: block;
  padding: 8px 16px;
  background-color: #b8b8b8;
  border-radius: 64px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.viewDetails {
  display: block;
  margin-top: 24px;
}
