@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    colors.$white max(50%, 700px),
    colors.$lightGray max(50%, 700px)
  );

  @media (max-width: media.$laptopS) {
    background: colors.$white;
  }
}

.header {
  min-height: 112px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 96px;

  @media (max-width: media.$laptopS) {
    padding: 24px;
    flex-wrap: wrap;
  }
}

.logoWrapper {
  margin: 12px 24px 12px 0;
}

.logo {
  max-width: 100%;
}

.main {
  flex: 1;
  padding: 24px 96px;
  width: 50%;
  min-width: min(100%, 700px);
  max-width: 100%;

  @media (max-width: media.$laptopS) {
    padding: 24px;
  }
}
