@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/shadows.module' as shadows;
@use '/lib/styles/variables/media.module' as media;

.task {
  margin-top: 24px;
  background-color: colors.$white;
  border-radius: 16px;
  box-shadow: shadows.$shadow;
  position: relative;
  color: colors.$fontPrimary;
  border: 3px solid colors.$white;
  min-width: 265px;

  &:first-of-type {
    margin-top: 0;
  }

  &Active {
    border-color: colors.$purplePrimary;
    box-shadow: shadows.$shadowPurple;
  }

  @media (max-width: media.$laptopS) {
    margin-top: 0;
    margin-left: 24px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.taskLink {
  display: block;
  padding: 16px;
}

.moduleName {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  width: fit-content;
  color: colors.$purplePrimary;

  &Active {
  }
}

.taskName {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: colors.$fontPrimary;
}
