@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/shadows.module' as shadows;
@use '/lib/styles/variables/media.module' as media;

.task {
  margin-top: 24px;
  background-color: colors.$white;
  border-radius: 16px;
  box-shadow: shadows.$shadow;
  position: relative;

  &:first-of-type {
    margin-top: 0;
  }

  &Active {
    color: colors.$white;
    background-color: colors.$purplePrimary;
  }

  &Locked {
    cursor: not-allowed;
  }

  @media (max-width: media.$laptopS) {
    margin-top: 0;
    min-width: 200px;
    margin-left: 24px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.taskLink {
  display: block;
  padding: 16px;
}

.taskName {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.taskBadges {
  display: flex;
  flex-wrap: wrap;
}

.taskBadge {
  margin-top: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-left: 16px;
  position: relative;
  margin-right: 16px;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: colors.$purplePrimary;
    border-radius: 64px;
  }

  &Active {
    &::before {
      background-color: colors.$white;
    }
  }
}

.moduleName {
  margin-top: 16px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  display: block;
  width: fit-content;
  background-color: colors.$bgMain;
  color: colors.$purplePrimary;
  border-radius: 16px;

  &Active {
    background-color: colors.$white;
    color: colors.$fontPrimary;
  }
}

.taskLockWrapper {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: colors.$purplePrimary;
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: 64px;

  svg > path {
    fill: colors.$white;
  }

  &Active {
    background-color: colors.$white;

    svg > path {
      fill: colors.$purplePrimary;
    }
  }

  @media (max-width: media.$laptopS) {
    position: absolute;
    margin-bottom: 0;
    bottom: 16px;
    right: 16px;
    transform: scale(0.9);
    padding: 8px 12px;
    box-shadow: shadows.$shadow;
  }
}
