@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/shadows.module' as shadows;

.taskBadgesWrapper {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
}

.taskScore {
  padding: 4px 8px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  &Red {
    background-color: colors.$statusBgRed;
    color: colors.$statusFontRed;
  }

  &Orange {
    background-color: colors.$statusBgOrange;
    color: colors.$statusFontOrange;
  }

  &Green {
    background-color: colors.$statusBgGreen;
    color: colors.$statusFontGreen;
  }
}

.taskLockWrapper {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 64px;
  border: 1px solid colors.$statusFontGray;

  svg {
    fill: colors.$statusFontGray;
  }

  @media (max-width: media.$laptopS) {
    position: absolute;
    margin-bottom: 0;
    bottom: 16px;
    right: 16px;
    transform: scale(0.9);
    padding: 8px 12px;
    box-shadow: shadows.$shadow;
  }
}
