@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.assessButton {
  position: absolute;
  bottom: 100%;
  margin: 24px;
}

.nextTaskBar {
  background-color: colors.$white;
  border: 1px solid colors.$strokeLines;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 24px;
}

.nextTaskButton {
  max-width: 164px;
  font-weight: fonts.$weightMedium;
}

.tasksLeftText {
  margin-right: 40px;
}
