@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.userImg {
  border-radius: 50px;
  background-color: colors.$bgInactive;
}

.userCellWrapper {
  display: flex;
  align-items: center;
}

.userImgWrapper {
  width: 32px;
  height: 32px;
}

.userNameWrapper {
  margin-left: 10px;
}

.userLogin {
  font-weight: fonts.$weightRegular;
  font-size: 10px;
  line-height: 16px;
  color: colors.$fontSecondary;
}
