@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/shadows.module' as shadows;
@use '/lib/styles/variables/fonts.module' as fonts;

.taskHeader {
  margin: 0 24px;
  display: flex;
  align-items: center;
}

.taskTitle {
  font-weight: fonts.$weightMedium;
  font-size: 24px;
  line-height: 40px;

  &Position {
    margin-right: 8px;
    color: colors.$fontSecondary;
  }

  &Name {
    color: colors.$fontPrimary;
  }
}

.fullScreenButton {
  margin-left: auto;
  border-radius: 64px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background: colors.$white;
  box-shadow: shadows.$primary;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$purplePrimary;

  &:hover {
    background-color: colors.$whiteHover;
  }

  svg {
    width: 16px;
    height: 16px;
    path {
      fill: colors.$purplePrimary;
    }
  }
}
