@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;

.form {
  margin-top: 32px;
  max-width: 312px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: colors.$fontPrimary;
}

.field {
  margin-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: colors.$fontPrimary;
  padding: 12px 16px;
  border: 1px solid colors.$purplePrimary;
  border-radius: 8px;
  font-family: inherit;
  resize: none;

  &::placeholder {
    color: colors.$fontSecondary;
  }

  &Error {
    border-color: colors.$statusFontRed;
  }

  &Correct {
    border-color: colors.$statusFontGreen;
  }
}

.ctaButtonWrapper {
  margin-top: 72px;

  @media (max-width: media.$tablet) {
    margin-top: 32px;
  }
}
