@use '/lib/styles/variables/colors.module' as colors;

.form {
  margin-top: 24px;
  max-width: 264px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 16px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: colors.$black;
}

.field {
  margin-top: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: colors.$black;
  padding: 12px;
  background-color: colors.$lightGray;
  border-radius: 8px;
  border: none;
  font-family: inherit;
  resize: none;
}

.submit {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: colors.$white;
  padding: 12px 24px;
  width: 100%;
  border-radius: 64px;
  background-color: colors.$black;
  border: none;
  cursor: pointer;
}
