@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/animations.module' as animations;

.codeWrapper {
  margin-top: 8px;
  padding: 8px 55px 8px 16px;
  background-color: colors.$bgTable;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  @media (max-width: media.$tabletS) {
    margin-left: 0;
  }
}

.codeBlock {
  max-width: 100%;
  overflow-x: auto;
  color: colors.$fontPrimary;
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
}

.codeLine {
  display: block;
  height: 24px;
}

.clipboardButton {
  position: absolute;
  height: 24px;
  display: flex;
  align-items: center;
  top: 0;
  right: 14px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;

  svg {
    fill: colors.$purplePrimary;
    transition: opacity animations.$hoverTransitionTime
      animations.$hoverEaseFunction;
  }

  &:hover {
    svg {
      opacity: 0.8;
    }
  }
}
