@use '/lib/styles/variables/colors.module' as colors;

.wrapper {
  padding: 16px 24px;
  border-top: 1px solid colors.$bgLightGray;
}

.button {
  display: block;
  margin-left: auto;
  background-color: colors.$primary;
  border-radius: 64px;
  color: colors.$white;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 16px;
  cursor: pointer;
}
