@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  padding: 16px 24px;
  display: flex;
  flex-wrap: wrap;
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontSecondary;
}

.legendItem {
  margin: 8px 24px 8px 0;
  display: flex;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  & > * {
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.attempts {
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontPrimary;
  border: 1px solid colors.$strokeLines;
  background-color: colors.$bgMain;
  padding: 8px;
  border-radius: 64px;
}
