@use '/lib/styles/variables/colors.module' as colors;

.taskScore {
  padding: 4px 8px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin-right: 16px;

  &:last-child {
    margin-right: 0;
  }

  &Red {
    background-color: colors.$statusBgRed;
    color: colors.$statusFontRed;
  }

  &Orange {
    background-color: colors.$statusBgOrange;
    color: colors.$statusFontOrange;
  }

  &Green {
    background-color: colors.$statusBgGreen;
    color: colors.$statusFontGreen;
  }
}
