@use '/lib/styles/variables/colors.module' as colors;

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes transformSpin {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.loading {
  display: block;
  position: relative;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border: calc(var(--size) / 8) solid colors.$purpleSecondary;
  border-top-color: colors.$purplePrimaryLight;
  animation: spin 0.75s infinite linear;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: calc(var(--size) / 8);
    height: calc(var(--size) / 8);
    background: colors.$purplePrimaryLight;
  }

  &::before {
    top: 0;
    left: calc(var(--size) / 192);
  }

  &::after {
    top: 0;
    right: calc(var(--size) / 192);
  }
}

.tpa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: calc(var(--size) * 0.75);
  height: calc(var(--size) * 0.75);
  background-color: colors.$purplePrimary;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transformSpin 0.75s infinite linear;

  svg {
    max-width: 100%;
  }
}
