@use '/lib/styles/variables/colors.module' as colors;

@keyframes spin {
  0% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loading {
  display: block;
  position: relative;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border: calc(var(--size) / 8) solid colors.$purpleSecondary;
  border-top-color: colors.$purplePrimary;
  animation: spin 0.75s infinite linear;

  &::before,
  &::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: calc(var(--size) / 8);
    height: calc(var(--size) / 8);
    background: colors.$purplePrimary;
  }

  &::before {
    top: 0;
    left: calc(var(--size) / 192);
  }

  &::after {
    top: 0;
    right: calc(var(--size) / 192);
  }
}
