@use '/lib/styles/variables/colors.module' as colors;

.wrapper {
  background-color: colors.$statusFontBlue;
  box-shadow: 0 8px 32px rgba(7, 1, 48, 0.12);
  border-radius: 8px;
  padding: 16px 48px 16px 24px;
  position: relative;
}

.message {
  color: colors.$white;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.closeButton {
  border: none;
  background: none;
  padding: 4px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  svg {
    stroke: colors.$white;
  }
}
