@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/shadows.module' as shadows;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  background-color: colors.$statusFontBlue;
  box-shadow: shadows.$secondary;
  border-radius: 8px;
  padding: 16px 48px 16px 24px;
  position: relative;
}

.message {
  color: colors.$white;
  font-weight: fonts.$weightMedium;
  font-size: 14px;
  line-height: 24px;
}

.closeButton {
  border: none;
  background: none;
  padding: 4px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;

  svg {
    stroke: colors.$white;
  }
}
