@use '/lib/styles/variables/colors.module' as colors;

.taskType {
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.taskTypeIcon {
  width: 16px;
  height: 16px;
  text-transform: uppercase;

  svg {
    width: 100%;
    height: 100%;
    fill: colors.$purplePrimary;
  }
}

.taskTypeText {
  margin-left: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: colors.$fontPrimary;
}
