@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  padding: 0 24px 24px;
  max-height: 100%;
  min-height: 0;
  height: 100%;
  flex: 1;
  overflow-y: auto;

  @media (max-width: media.$laptopS) {
    padding-bottom: 24px;
  }
}

.content {
  margin-top: 24px;
  font-weight: fonts.$weightRegular;
  font-size: 14px;
  line-height: 32px;
  color: colors.$fontPrimary;
  max-width: 800px;
}
