@use '/lib/styles/variables/colors.module' as colors;

.wrapper {
  padding: 0 24px 24px;
  max-height: 100%;
  min-height: 0;
  height: 100%;
  flex: 1;
  overflow-y: auto;
}

.content {
  margin-top: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: colors.$black;
  max-width: 869px;
}
