@use '/lib/styles/variables/colors.module' as colors;

.wrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: colors.$fontPrimary;
}

.text {
  margin-right: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.value {
  padding: 4px 8px;
  border-radius: 100px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  background-color: colors.$bgMain;
}
