@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
  color: colors.$fontPrimary;
}

.text {
  margin-right: 8px;
  font-weight: fonts.$weightMedium;
  font-size: 12px;
  line-height: 24px;
}

.value {
  padding: 8px 20px;
  border-radius: 100px;
  background-color: colors.$bgMain;
  font-weight: fonts.$weightBold;
  font-size: 12px;
  line-height: 16px;

  &WithText {
    padding: 4px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Circle {
    padding: 8px;
    min-width: 32px;
    min-height: 32px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
