@use '/lib/styles/variables/colors.module' as colors;
@use '/lib/styles/variables/media.module' as media;
@use '/lib/styles/variables/fonts.module' as fonts;

.wrapper {
  display: flex;
  background-color: colors.$purpleSecondary;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 96px;

  @media (max-width: media.$laptopS) {
    padding: 0 24px;
    height: 120px;
  }

  @media (max-width: media.$tablet) {
    height: auto;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  padding: 0 16px;
}

.logoWrapper {
  margin: 40px 24px 40px 0;
}

.title {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: colors.$fontPrimary;
  font-weight: fonts.$weightBold;

  &Intro {
    font-size: 40px;
    line-height: 56px;
  }

  &Code {
    font-size: 48px;
    line-height: 64px;
    color: colors.$purplePrimary;
  }

  &Content {
    font-size: 24px;
    line-height: 32px;
  }
}

.description {
  font-weight: fonts.$weightRegular;
  font-size: 16px;
  line-height: 32px;
  margin-top: 16px;
  color: colors.$fontSecondary;
  max-width: 446px;
}

.imageWrapper {
  width: 100%;
  max-width: 285px;
  margin-top: 57px;
  position: relative;
  transform: translateX(4%);
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
